
@media (min-width: 300px) and (max-width:800px){
    body{
        background-color: red;
        
    }
    .card {
        width: 2.2em;
        height: 3.5em;

    }
    #board{


    }
    #hitButton,#standButton{
        width: 50%;
        justify-self: center;
    }


}


body{ margin: 0;
    font-family: Helvetica;

    display: grid;
    grid-template-columns: .5vmin 1fr .5vmin;
    grid-template-rows: 1vmin 1fr 1vmin;
}

#board {
    display: grid;
    justify-self: center;
    align-self: center;
    border-radius: 35px;
    border: 2vmin solid rgb(159, 103, 14);
    background-color: green;
    grid-column-start:2 ;
    grid-row-start: 2;
    grid-row-end: 3;

    grid-template-columns: 15vmin 60vmin 15vmin;
    grid-template-rows: 3vmin 15vmin 3vmin 15vmin 3vmin 9vmin 3vmin 15vmin 3vmin 15vmin 3vmin 3vmin;
    margin: auto;
}
    
h1 {
    margin-bottom: 6vmin;
}

#buttons { 
    display: grid;
    grid-column-start: 2;
    grid-row-start: 11;
    grid-template-columns: 2fr 2fr;
}

#hitbutton{
    background-color:darkolivegreen;
    border-radius: 5px;
    width: 50%;
    justify-self: center;
}

#standbutton{
    background-color:darkolivegreen;
    border-radius: 5px;
    width: 50%;
    justify-self: center;
}

#startbutton{
    grid-column-start: 2;
    grid-row-start: 6;
    justify-self: center;
    align-self: center;
}

#playerHand{
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    perspective: 1000px;
}

#dealerHand{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#phand0, #phand1, #phand2, #phand3, #phand4 , #dhand0, #dhand1, #dhand2, #dhand3, #dhand4 {
    width:9vmin;
    height: 15vmin;
}
 
#shuffleddeck{
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 8;
    background-image: url("../css/card-library/images/backs/red.svg");
    width: 4.0em;
    height: 5.5em; 
    background-color: #fff;
    background-size: contain;
}

.card-back-side{
    background-image: url("../css/card-library/images/backs/red.svg");
    width: 4.0em;
    height: 5.6em;
    background-color: #fff;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    border-radius: 5px;
   
}

#playerHand:hover .flip-card{
    transform: rotateY(180deg)
}



.flip-card {
    
    display: flex;
    transition: transform 1s;
    transform-style: preserve-3d;
    
    ;
   
    
}



.card-back-side{
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
   
    
}

#useddeck{
    border-radius: 5px;
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    justify-self: center;
    align-self: center;
    background-image: url("../css/card-library/images/backs/red.svg");
    width: 4.0em;
    height: 5.5em; 
    background-color: #fff;
    background-size: contain;
}

#wager{
    display: flex;
    font-size: 2vmin;
    flex-direction: column;
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    justify-self: center;
    align-self: center;
    margin-top: 3vmin; 
    color: white;
}

#wageBank{
    display: flex;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 3vmin;
    font-weight: bold;
}

input[type='number']{
    width: 11vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
  
}


#message {
    grid-column-start: 2;
    grid-row-start: 7;
    justify-self: center;
    align-self: center;
}
