

@media all (min-width: 400px){
    body{
        background-color: greenyellow
    }
}

   body{ margin: 0;
    font-family: Helvetica;

    display: grid;
    grid-template-columns: .5vmin 1fr .5vmin;
    grid-template-rows: 1vmin 1fr 1vmin;
     }

#board {
    display: grid;
    justify-self: center;
    align-self: center;
    border-radius: 35px;
    border: 2vmin solid rgb(159, 103, 14);
    background-color: green;
    grid-column-start:2 ;
    grid-row-start: 2;
    grid-row-end: 3;

    grid-template-columns: 15vmin 60vmin 15vmin;
    grid-template-rows: 3vmin 15vmin 3vmin 15vmin 3vmin 9vmin 3vmin 15vmin 3vmin 15vmin 3vmin 3vmin;
    margin: auto;
    }
    


#buttons {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 11;
    grid-template-columns: 2fr 2fr;
    }

#hitbutton{
    background-color:darkolivegreen;
    border-radius: 5px;
    width: 50%;
    justify-self: center;
}

#standbutton{
    background-color:darkolivegreen;
    border-radius: 5px;
    width: 50%;
    justify-self: center;
}
#startbutton{
    
    grid-column-start: 2;
    grid-row-start: 6;
    justify-self: center;
    align-self: center;
}

#playerhand{
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}


#phand0, #phand1, #phand2, #phand3, #phand4  {
    width:9vmin;
    height: 15vmin;
}

#dealerhand {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    
}

#shuffleddeck{
    border-radius: 5px;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 8;
    justify-self: center;
    align-self: center;
    background-color: darkgreen;
    height: 15vmin;
    width: 9vmin;
}

#useddeck{
    border-radius: 5px;
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    justify-self: center;
    align-self: center;
    background-color: darkgreen;
    height: 15vmin;
    width: 9vmin;
    
}

#wager{
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    justify-self: center;
    align-self: center;
   

}

input[type='number']{
width: 6vmin;
display: flex;
justify-content: center;
align-items: center;

}

