
@media (min-width: 300px) and (max-width:800px){
    body{
        background-color: red;
        
    }
    .card {
        width: 2.2em;
        height: 3.5em;

    }
    .flip-card{
        width: 2.2em;
        height: 3.5em;
    }
   
    #hitButton,#standButton{
        width: 50%;
        justify-self: center;
    }
}


body{ margin: 0;
    font-family: Helvetica;
    background-color: darkred;
    display: grid;
    grid-template-columns: .5vmin 1fr .5vmin;
    grid-template-rows: 1vmin 1fr 1vmin;
}

#board {
    display: grid;
    justify-self: center;
    align-self: center;
    border-radius: 35px;
    border: 2vmin solid rgb(221, 181, 117);
    background-color: green;
    grid-column-start:2 ;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 15vmin 60vmin 15vmin;
    grid-template-rows: 3vmin 15vmin 3vmin 15vmin 3vmin 9vmin 3vmin 15vmin 3vmin 15vmin 3vmin 3vmin;
    margin-top: 2vmin;
}
    
h1 {
    margin-bottom: 6vmin;
}

#buttons { 
    display: flex;
    grid-column-start: 2;
    grid-row-start: 11;
    grid-template-columns: 2fr 2fr;
    justify-content: space-evenly;  
}

#hitButton{
    border-radius: 5px;
    width: 30%;
    justify-self: center;
    color:rgb(221, 181, 117);
    background-color: darkolivegreen;
    border-radius: 1vmin;
    border: .4vmin solid;
}

#standButton{
    border-radius: 5px;
    width: 30%;
    justify-self: center;
    color:rgb(221, 181, 117);
    background-color: darkolivegreen;
    border-radius: 1vmin;
    border: .4vmin solid;
    
}

#startbutton{
    grid-column-start: 2;
    grid-row-start: 6;
    justify-self: center;
    align-self: center;
    border-radius: 1vmin;
    border: .4vmin solid;
    color:rgb(221, 181, 117);
    background-color: darkolivegreen;
    height: 60%;
    width: 14%;   
}

#startButton:hover {
    color:rgb(78, 59, 28);
}

#playerHand{
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    perspective: 1000px;
}

#dealerHand{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#shuffleddeck{
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 8;
    background-image: url("../css/card-library/images/backs/red.svg");
    width: 4.0em;
    height: 5.5em; 
    background-color: #fff;
    background-size: contain;
}

.card-back-side{
    background-image: url("../css/card-library/images/backs/red.svg");
    width: 4.0em;
    height: 5.6em;
    background-color: #fff;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
    transform: rotate(180deg);
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    margin-left: 5px;
    margin-top: 5px; 
}

#playerHand:hover .flip-card{
    transform: rotateY(180deg)
}

.flip-card {
    display: flex;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.faceup {
    transform: rotateX(180deg);
    backface-visibility: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#useddeck{
    border-radius: 5px;
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 8;
    justify-self: center;
    align-self: center;
    background-image: url("../css/card-library/images/backs/red.svg");
    width: 4.0em;
    height: 5.5em; 
    background-color: #fff;
    background-size: contain;
}

#wager{
    display: flex;
    font-size: 2vmin;
    flex-direction: column;
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    justify-self: center;
    align-self: center;
    margin-top: 3vmin; 
    color:rgb(221, 181, 117);;
}

#wageBank{
    display: flex;
    justify-self: center;
    align-self: center;
    color:rgb(221, 181, 117);
    font-size: 3vmin;
    font-weight: bold;
}

input[type='number']{
    width: 10vmin;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 2vmin;
    border-radius: 1vmin ;
    border: .4vmin solid;
    color:rgb(221, 181, 117);
    background-color: darkolivegreen;
  
}

#bet{
    width: 8vmin;
    margin-top: 5px;
    border-radius: 1vmin;
    border: .4vmin solid;
    color:rgb(221, 181, 117);
    background-color: darkolivegreen;
    
    justify-self: center;
    align-self: center;
}

#message {
    grid-column-start: 2;
    grid-row-start: 7;
    justify-self: center;
    align-self: center;
    color:rgb(221, 181, 117);
    margin-top: 6vmin;
    margin-bottom: 8vmin;
}
